<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome Security with Spring Boot!</title>
</head>
<body>
<h1>Hello, this page is for Admin!</h1>
<a style="color: blue" th:href="@{/}">Home</a><br><br>
<a style="color: blue" th:href="@{/api/users}">Users for REST</a><br>
<a style="color: blue" th:href="@{/api/pets}">Pets for REST</a><br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>
